{
  "defaultHumanoidIdentity" : {
    "gender" : "Male",
    "hairType" : "male2",
    "color" : [51, 117, 237, 255]
  },

  "species" : [ "human", "glitch", "hylotl", "apex", "avian", "floran", "novakid", "penguin"  ],

  "nametagColor" : [0, 255, 0],

  "ageItemsEvery" : 10,

  "defaultItems" : [ ],

  "blueprintUnlock" : "^green;Learned to craft: <ItemName>.",
  "blueprintAlreadyKnown" : "I already know how to craft <ItemName>.",

  "collectableUnlock" : "^green;<collectable>^white; added to ^blue;<collection>^reset; collection",

  // blueprints available from the start

  "defaultBlueprints" : {
    "tier1" : [

// ********* TIER 1 **********

// Empty Hands
      { "item" : "campfire" },
      { "item" : "darkwoodmaterial" },
      { "item" : "inventorstable" },
      { "item" : "platform" },
      { "item" : "climbingrope" },
      { "item" : "torch" },

// Inventors Table
      { "item" : "craftinganvil" },
      { "item" : "craftingfarm" },
      { "item" : "craftingfurnace" },
      { "item" : "craftingfurniture" },
      { "item" : "craftingwheel" },
      { "item" : "breathprotectionback" },

// Anvil 1
      { "item" : "startershield" },
      { "item" : "bomb" },

// Farming Table
      { "item" : "hoe" },
      { "item" : "bow" },
      { "item" : "tungstenbow" },
      { "item" : "mothtrap" },
      { "item" : "scarecrow" },
      { "item" : "woodenwateringcan" },
      { "item" : "wateringcan" },
      { "item" : "bugnet" },
      { "item" : "flashlight" },
      { "item" : "flare" },
      { "item" : "huntingspear" },
      { "item" : "mininglantern" },
      { "item" : "lanternstickback" },
      { "item" : "mininghathead" },
      { "item" : "fishingrod" },

// Furnace 1
      { "item" : "ironbar" },
      { "item" : "copperbar" },
      { "item" : "silverbar" },
      { "item" : "goldbar" },
      { "item" : "tungstenbar" },

      { "item" : "glass" },
      { "item" : "bottle" },
      { "item" : "firedclay" },
      { "item" : "syringe" },
      { "item" : "volatilepowder" },
      { "item" : "paper" },

// Furniture Table 1
      { "item" : "woodenbed" },
      { "item" : "coppershelf" },
      { "item" : "coppersupport" },
      { "item" : "woodenchair" },
      { "item" : "woodsupport" },
      { "item" : "woodtable" },
      { "item" : "woodendoor" },
      { "item" : "woodenverticaldoor" },
      { "item" : "woodengate" },
      { "item" : "copperceilinglight" },
      { "item" : "copperlantern" },
      { "item" : "woodencrate1" },
      { "item" : "woodencrate2" },
      { "item" : "copperbox1" },
      { "item" : "rockbrickmaterial" },
      { "item" : "cobblestonebrick" },
      { "item" : "darksmoothstonematerial" },
      { "item" : "copperblock" },
      { "item" : "copperfence" },
      { "item" : "copperplatform" },
      { "item" : "copperroofing" },
      { "item" : "copperwindow" },
      { "item" : "fence" },
      { "item" : "crosshatch" },
      { "item" : "ironblock" },
      { "item" : "woodenwindow1" },
      { "item" : "woodenwindow2" },
      { "item" : "glassmaterial" },
      { "item" : "packeddirt" },
      { "item" : "thatch" },
      { "item" : "wicker" },
      { "item" : "wickersupport" },
      { "item" : "cabinroofing" },
      { "item" : "brickmaterial" },
      { "item" : "rooftiles" },
      { "item" : "fullwood1" },
      { "item" : "fullwood2" },
      { "item" : "woodpanelling" },
      { "item" : "woodbridge" },
      { "item" : "heavypipe" },
      { "item" : "minifridge" },

      { "item" : "tier1chair" },
      { "item" : "tier1door" },
      { "item" : "tier1light" },
      { "item" : "tier1spotlight" },
      { "item" : "tier1table" },
      { "item" : "tier1bed" },

      { "item" : "tier2chair" },
      { "item" : "tier2door" },
      { "item" : "tier2light" },
      { "item" : "tier2bed" },
      { "item" : "tier2table" },

// Spinning Wheel
      { "item" : "tshirtchest" },
      { "item" : "simplecapeback" },
      { "item" : "shortcapeback" },
      { "item" : "boxingglove" },
      { "item" : "fabric" },
      { "item" : "string" },
      { "item" : "cottonwool" },

      { "item" : "teddybearplush" },

      { "item" : "bluedye" },
      { "item" : "dyeremover" },
      { "item" : "reddye" },
      { "item" : "yellowdye" },
      { "item" : "blackdye" },
      { "item" : "whitedye" },

// Campfire
      { "item" : "bakedpotato"},
      { "item" : "boiledpearlpeas"},
      { "item" : "boiledrice"},
      { "item" : "cookedalienmeat"},
      { "item" : "cookedbacon" },
      { "item" : "cookedfish" },
      { "item" : "cookedpoultry"},
      { "item" : "cookedribmeat"},
      { "item" : "cookedtomato"},
      { "item" : "popcorn"},
      { "item" : "roastedcarrot"},

//  ********* TIER 2 **********

// Inventors Table 2
      { "item" : "craftingmedical" },
      { "item" : "woodencookingtable" },
      { "item" : "fossilstation" },
      { "item" : "refinery" },
      { "item" : "radiationprotectionback" },

// Furnace 2
      { "item" : "titaniumbar" },
      { "item" : "durasteelbar" },

// Medicine Table 1
      { "item" : "antidote" },
      { "item" : "bandage" },
      { "item" : "yellowstim" },
      { "item" : "redstim" },
      { "item" : "salve" },

// Cooking Table
      { "item" : "bread"},
      { "item" : "meatdumplings"},
      { "item" : "corncob"},
      { "item" : "mashedpotato"},
      { "item" : "bonbons" },
      { "item" : "cake" },
      { "item" : "sweetpopcorn"},
      { "item" : "bottledwater"},
      { "item" : "coffee"},

// Fossil Station
      { "item" : "fossilbrushbeginner" },
      { "item" : "fossilbrushstudent" },
      { "item" : "fossilbrushmaster" },
      { "item" : "fossildisplay1" },
      { "item" : "fossildisplay3" },
      { "item" : "fossildisplay5" },

//  ********* TIER 3 **********

// Anvil 2
      { "item" : "molotov" },

// Furniture Table 2
      { "item" : "tier3chair" },
      { "item" : "tier3door" },
      { "item" : "tier3light" },
      { "item" : "tier3bed" },
      { "item" : "tier3table" },

      { "item" : "tier4chair" },
      { "item" : "tier4door" },
      { "item" : "tier4light" },
      { "item" : "tier4bed" },
      { "item" : "tier4table" },

      { "item" : "silverblock" },
      { "item" : "silverscrew" },
      { "item" : "silverplatform" },
      { "item" : "goldblock" },
      { "item" : "goldenplatform" },
      { "item" : "treasurehoard" },
      { "item" : "asphalt" },
      { "item" : "chain" },
      { "item" : "mediummetal" },
      { "item" : "smoothmetal" },
      { "item" : "composite01material" },
      { "item" : "fridge" },

// Spinning Wheel 2
      { "item" : "silk" },
      { "item" : "canvas" },
      { "item" : "syntheticmaterial" },

      { "item" : "mannequin" },

      { "item" : "greydye" },
      { "item" : "orangedye" },
      { "item" : "pinkdye" },
      { "item" : "purpledye" },
      { "item" : "greendye" },
      { "item" : "browndye" },


//  ********* TIER 4 **********

// Inventors Table 3
      { "item" : "3dprinter" },
      { "item" : "capturestation" },
      { "item" : "pixelcompressor" },
      { "item" : "wiringstation" },
      { "item" : "railcraftingtable" },
      { "item" : "coldprotectionback" },
      { "item" : "heatprotectionback" },

// Farming Table 2
      { "item" : "compoundbow" },
      { "item" : "capturestation" },
      { "item" : "grapplinghook" },
      { "item" : "halogenpack" },
      { "item" : "sprinkler" },
      { "item" : "cavedetector" },
      { "item" : "oredetector" },
      { "item" : "durablefishingrod" },
      { "item" : "relocator" },

// Furnace 3
      { "item" : "refinedaegisalt" },
      { "item" : "refinedferozium" },
      { "item" : "refinedviolium" },
      { "item" : "solariumstar" },
      { "item" : "wire" },
      { "item" : "siliconboard" },
      { "item" : "battery" },
      { "item" : "smallbattery" },

// Medicine Table 2
      { "item" : "greenstim" },
      { "item" : "bluestim" },
      // { "item" : "orangestim" },
      { "item" : "medkit" },
      { "item" : "nanowrap" },
      { "item" : "burnspray" },

// Wiring Station
      { "item" : "alarm" },
      { "item" : "bulb" },
      { "item" : "drain" },
      { "item" : "standingturret" },
      { "item" : "secretdoor" },
      { "item" : "secrettrapdoor" },

      { "item" : "lightsensor" },
      { "item" : "liquidsensor" },
      { "item" : "proximitysensor" },
      { "item" : "scanner" },

      { "item" : "bigredbutton" },
      { "item" : "persistentswitch" },
      { "item" : "smallfloorbutton" },
      { "item" : "smallwallbutton" },
      { "item" : "smallwallswitch" },
      { "item" : "tinywallbutton" },
      { "item" : "tinywallswitch" },

      { "item" : "and" },
      { "item" : "countdowntimer" },
      { "item" : "delay" },
      { "item" : "dlatch" },
      { "item" : "not" },
      { "item" : "or" },
      { "item" : "timer" },
      { "item" : "xor" },
      { "item" : "tier1switch" },
      { "item" : "tier2switch" },
      { "item" : "tier3switch" },
      { "item" : "tier4switch" },

  // Rail Crafting Table
      { "item" : "rustyrail" },
      { "item" : "compositerail" },
      { "item" : "railbumper" },
      { "item" : "railsensor" },
      { "item" : "railswitch" },
      { "item" : "railstop" },
      { "item" : "railtramstop" },
      { "item" : "rustyrailplatform" },
      { "item" : "compositerailplatform" },
      { "item" : "stationtram" },
      { "item" : "railhook" },

  // Capture Station
      { "item" : "capturepod" },
      { "item" : "pethealingstation" },
      { "item" : "pettether" },
	  { "item" : "nietononoshana" }

/*

      { "item" : "tungstenplatform" },

      // VALENTINES STUFF
      { "item" : "heartforge" },
      { "item" : "cupidsbow" },
      { "item" : "cupidshead" },
      { "item" : "cupidschest" },
      { "item" : "cupidslegs" },
      { "item" : "cupidsback" },
      { "item" : "valentinechocolates" },

      // XMAS STUFF
      { "item" : "holidaycraftingtable" },
      { "item" : "holidayspirit" },
      { "item" : "mrclaushead" },
      { "item" : "mrclauschest" },
      { "item" : "mrclausback" },
      { "item" : "mrclauspants" },
      { "item" : "hotholidayhead" },
      { "item" : "hotholidaychest" },
      { "item" : "hotholidaypants" },
      { "item" : "candyblock" },
      { "item" : "bigpresent" },
      { "item" : "decoratedtree" },
      { "item" : "dreidel" },
      { "item" : "giantbells" },
      { "item" : "giantbow1" },
      { "item" : "giantbow2" },
      { "item" : "giantsanta" },
      { "item" : "giantsnowflake" },
      { "item" : "giftmonsterbox" },
      { "item" : "giftmonstersmallbox" },
      { "item" : "goldball" },
      { "item" : "greencandycane1" },
      { "item" : "greencandycane2" },
      { "item" : "greencandycane3" },
      { "item" : "greengumdrop1" },
      { "item" : "greengumdrop2" },
      { "item" : "holidaycandles" },
      { "item" : "holidaylights" },
      { "item" : "holidaypole" },
      { "item" : "holly" },
      { "item" : "lollipop1" },
      { "item" : "lollipop2" },
      { "item" : "menorah" },
      { "item" : "present1" },
      { "item" : "present2" },
      { "item" : "present3" },
      { "item" : "present4" },
      { "item" : "purplegumdrop1" },
      { "item" : "purplegumdrop2" },
      { "item" : "redball" },
      { "item" : "redcandycane1" },
      { "item" : "redcandycane2" },
      { "item" : "redcandycane3" },
      { "item" : "redgumdrop1" },
      { "item" : "redgumdrop2" },
      { "item" : "scifisleigh" },
      { "item" : "smallbow" },
      { "item" : "smallholidaytree" },
      { "item" : "smallsnowflake" },
      { "item" : "stocking1" },
      { "item" : "stocking2" },
      { "item" : "undecoratedtree" },
      { "item" : "firework" },
      { "item" : "fireworkblue" },
      { "item" : "fireworkgreen" }
    ],

    "portable3dprinter" : [
      { "item" : "futurelight" },
      { "item" : "modernplatform" },
      { "item" : "modernchair" },
      { "item" : "moderntable" },
      { "item" : "slidingdoor" },
      { "item" : "techhull1" },
      { "item" : "apexshipwall" },
      { "item" : "lightmetal" },
      { "item" : "redtoyblock" },

      { "item" : "nanostove" }
*/
    ]
  },

  "defaultCodexes" : {
    "glitch" : [ "protectorate1", "protectorate2" ],
    "human" : [ "protectorate1", "protectorate2" ],
    "avian" : [ "protectorate1", "protectorate2" ],
    "apex" : [ "protectorate1", "protectorate2" ],
    "floran" : [ "protectorate1", "protectorate2" ],
    "hylotl" : [ "protectorate1", "protectorate2" ],
    "novakid" : [ "protectorate1", "protectorate2" ],
    "penguin" : [ "protectorate1", "protectorate2" ]
  },

  "metaBoundBox" : [-32.0, -32.0, 32.0, 32.0],

  "movementParameters" : {
    "flySpeed" : 0,
    "airFriction" : 0.5,
    "airJumpProfile" : {
      "jumpSpeed" : 23.0,
      "jumpInitialPercentage" : 0.75,
      "jumpHoldTime" : 0.2
    }
  },

  "zeroGMovementParameters" : {
    "flySpeed" : 1.5,
    "airForce" : 0.75,
    "airFriction" : 0,
    "bounceFactor" : 0.3
  },

  "statusControllerSettings" : {
    "statusProperties" : {
      "targetMaterialKind" : "organic",
      "mouthPosition" : [0, 0.75],
      "breathHealthPenaltyPercentageRate" : 0.05,
      "hitInvulnerabilityThreshold" : 0.1,
      "hitInvulnerabilityTime" : 1,
      "hitInvulnerabilityFlash" : 0.15,
      "shieldHitInvulnerabilityTime" : 1.0,
      "damageFlashOnDirectives" : "",
      "damageFlashOffDirectives" : "multiply=ffffff00=0.85"
    },

    "appliesEnvironmentStatusEffects" : true,
    "appliesWeatherStatusEffects" : true,
    "minimumLiquidStatusEffectPercentage" : 0.1,

    "primaryAnimationConfig" : "/player/stat_primary.animation",

    "primaryScriptSources" : [
      "/scripts/util.lua",
      "/scripts/vec2.lua",
      "/stats/player_primary.lua"
    ],

    "primaryScriptDelta" : 1,

    "stats" : {
      "maxHealth" : {
        "baseValue" : 100.0
      },
      "healthRegen" : {
        "baseValue" : 0.0
      },
      "maxEnergy" : {
        "baseValue" : 100.0
      },
      "energyRegenPercentageRate" : {
        "baseValue" : 0.585  // 1.75 second recharge time (STABLE)
        // "baseValue" : 0.5    // 2 second recharge time
        // "baseValue" : 0.45      // 2.25 second recharge time
        // "baseValue" : 0.4     // 2.5 second recharge time
      },
      "energyRegenBlockTime" : {
        "baseValue" : 1.5
      },
      "foodDelta" : {
        "baseValue" : -0.0583 // -70 food over 20 minutes
      },
      "maxBreath" : {
        "baseValue" : 100.0
      },
      "breathDepletionRate" : {
        "baseValue" : 4.0
      },
      "breathRegenerationRate" : {
        "baseValue" : 10.0
      },
      "encumberance" : {
        "baseValue" : 0.0
      },
      "fallDamageMultiplier" : {
        "baseValue" : 1.0
      },
      "powerMultiplier" : {
        "baseValue" : 1.0
      },
      "protection" : {
        "baseValue" : 0.0
      },
      "shieldRegen" : {
        "baseValue" : 0.0
      },
      "shieldHealth" : {
        "baseValue" : 0
      },
      "shieldStaminaRegen" : {
        "baseValue" : 0.2
      },
      "perfectBlockLimitRegen" : {
        "baseValue" : 0.5
      },
      "nude" : {
        "baseValue" : 0.0
      },
      "invisible" : {
        "baseValue" : 0.0
      },
      "invulnerable" : {
        "baseValue" : 0.0
      },
      "grit" : {
        "baseValue" : 0.0
      },
      "knockbackThreshold" : {
        "baseValue" : 9.0
      }
    },

    "resources" : {
      "health" : {
        "maxStat" : "maxHealth",
        "deltaStat" : "healthRegen",
        "initialPercentage" : 1.0
      },
      "energy" : {
        "maxStat" : "maxEnergy",
        "initialPercentage" : 1.0
      },
      "energyRegenBlock" : {
        "maxStat" : "energyRegenBlockTime",
        "deltaValue" : -1.0,
        "initialPercentage" : 0.0
      },
      "food" : {
        "deltaStat" : "foodDelta",
        "initialPercentage" : 1.0,
        "maxValue" : 70
      },
      "breath" : {
        "maxStat" : "maxBreath",
        "initialPercentage" : 1.0
      },
      "perfectBlock" : {
        "deltaValue" : -1.0,
        "initialValue" : 0.0
      },
      "perfectBlockLimit" : {
        "maxValue" : 1.0,
        "initialPercentage" : 1.0
      },
      "shieldStamina" : {
        "maxValue" : 1.0,
        "initialPercentage" : 1.0
      },
      "shieldStaminaRegenBlock" : {
        "maxValue" : 2.0,
        "deltaValue" : -1.0,
        "initialPercentage" : 0.0
      },
      "damageAbsorption" : {
        "initialValue" : 0
      }
    }
  },

  "foodLowThreshold" : 0.15,
  "foodLowStatusEffects" : [ "hungry" ],
  "foodEmptyStatusEffects" : [ "starving" ],

  "inCinematicStatusEffects" : [ "dontstarve" ],

  "footstepTiming" : 0.35,
  "footstepSensor" : [0, -3.1],

  "vaporTrailTime" : 10,
  "terminalVelocityDifference" : 1.01,

  "interactRadius" : 5.5,
  "walkIntoInteractBias" : [1, 0],

  "initialBeamGunRadius" : 10,
  "previewGlowBorder" : 2,
  "objectPreviewInnerAlpha" : 0.8,
  "objectPreviewOuterAlpha" : 0.2,

  "beamGunConfig" : {
    "image" : "/humanoid/any/gravgun1.png",
    "endImages" : [ "/humanoid/any/ball.png", "/humanoid/any/tileglow.png", "/humanoid/any/4tileglow.png", "/humanoid/any/ball.png" ],
    "handPosition" : [-2, 0],
    "firePosition" : [5, 0],
    "segmentsPerUnit" : 1,
    "nearControlPointElasticity" : 0.1,
    "farControlPointElasticity" : 0.9,
    "nearControlPointDistance" : 0.9,
    "targetSegmentRun" : 1,
    "innerBrightnessScale" : 20,
    "firstStripeThickness" : 0.2,
    "secondStripeThickness" : 0.05,
    "minBeamWidth" : 1,
    "maxBeamWidth" : 5,
    "maxBeamJitter" : 0.06,
    "minBeamJitter" : 0.0,
    "minBeamTrans" : 0.1,
    "maxBeamTrans" : 0.4,
    "minBeamLines" : 1,
    "maxBeamLines" : 5
  },

  "underwaterSensor" : [0.0, 0.5],
  "underwaterMinWaterLevel" : 0.4,

  "splashConfig" : {
    "splashSpeedMin" : 10.0,
    "splashMinWaterLevel" : 0.4,
    "splashBottomSensor" : [0, -2.0],
    "splashTopSensor" : [0, 2.0],
    "numSplashParticles" : 8,
    "splashYVelocityFactor" : 0.2,

    "splashParticle" : {
      "type" : "ember",
      "position" : [0, -1],
      "finalVelocity" : [0, -20],
      "approach" : [0, 50],
      "color" : [60, 150, 224, 100],
      "size" : 1.0,
      "timeToLive" : 0.5,
      "destructionAction" : "shrink",
      "destructionTime" : 0.2
    },

    "splashParticleVariance" : {
      "velocity" : [10, 0],
      "size" : 2.0
    }
  },

  "effectsAnimator" : "/player/playereffects.animation",

  "teleportInTime" : 1.0,
  "teleportOutTime" : 1.0,

  "deployInTime" : 0.4,
  "deployOutTime" : 2.0,

  "teleportInStatusEffects" : [
    "playerbeamin"
  ],

  "emoteCooldown" : 2,
  "blinkInterval" : [5, 30],

  "bodyMaterialKind" : "organic",

  "shieldHitSoundLimit" : 2,

  "companionsConfig" : {
    "scripts" : [
      "/scripts/companions/player.lua"
    ],
    "scriptDelta" : 10,

    "activePodLimit" : 1,
    "activeCrewLimit" : 2,
    "crewLimit" : 3,

    "recruitDescription" : "^cyan;> Name: ^white;<name>\n^cyan;> Job:^white; <role>\n^cyan;> Rank:^white; <rank>\n^cyan;> Status:^white; <status>",

    "crewBenefits" : {
      "shipRegeneration" : [
        "shipregeneration1",
        "shipregeneration2",
        "shipregeneration3",
        "shipregeneration4",
        "shipregeneration5"
      ],
      "combatRegeneration" : [
        "regeneration1",
        "regeneration2",
        "regeneration3",
        "regeneration4",
        "regenerationfast"
      ],
      "fieldRegeneration" : [
        "regeneration1",
        "regeneration2",
        "regeneration3",
        "regeneration4",
        "regenerationfast"
      ]
    },
    "shipUpgradeDiminishingReturns" : 0.5,

    "uniformSlots" : {
      "chest" : ["chestCosmetic", "chest"],
      "legs" : ["legsCosmetic", "legs"],
      "back" : ["backCosmetic", "back"]
    }
  },

  "deploymentConfig" : {
    "scripts" : [
      "/scripts/deployment/playermechdeployment.lua"
    ],
    "scriptDelta" : 1,

    "starterMechSet" : {
      "leftArm" : "mecharmflakcannon",
      "rightArm" : "mecharmdrill",
      "body" : "mechbodyhumanproto",
      "booster" : "mechboostersimple",
      "legs" : "mechlegssimple"
    },
    "speciesStarterMechBody" : {
      "apex" : "mechbodyapexproto",
      "avian" : "mechbodyavianproto",
      "floran" : "mechbodyfloranproto",
      "glitch" : "mechbodyglitchproto",
      "human" : "mechbodyhumanproto",
      "hylotl" : "mechbodyhylotlproto",
      "novakid" : "mechbodynovakidproto"
    },

    "enemyDetectRadius" : 80,
    "enemyDetectTypeNames" : [
      "trifangle",
      "cosmostache",
      "chiropterror",
      "masteroid",
      "masteroidmid",
      "masteroidlarge",
      "heavydrone",
      "omnicannon",
      "twigun"
    ],
    "lowEnergyThreshold" : 0.25,
    "lowEnergySound" : "/sfx/interface/mech_energy_low.ogg",
    "lowEnergyFlashTime" : 1.0
  },

  "inventory" : {
    "itemBags" : {
      "mainBag" : {
        "priority" : 1,
        "size" : 40
      },
      "materialBag" : {
        "priority" : 2,
        "size" : 40
      },
      "objectBag" : {
        "priority" : 3,
        "size" : 40
      },
      "reagentBag" : {
        "priority" : 4,
        "size" : 40
      },
      "foodBag" : {
        "priority" : 5,
        "size" : 40
      }
    },

    "customBarGroups" : 2,
    "customBarIndexes" : 6
  },

  "inventoryFilters" : {
    "mainBag" : {
      "typeBlacklist" : [ "material", "liquid", "object" ],
      "tagBlacklist" : [ "reagent" ],
      "categoryBlacklist" : [ "cookingIngredient", "preparedFood", "food", "drink", "seed", "foodJunk" ]
    },
    "materialBag" : {
      "typeWhitelist" : [ "material", "liquid" ]
    },
    "objectBag" : {
      "typeWhitelist" : [ "object" ],
      "categoryBlacklist" : [ "seed" ]
    },
    "reagentBag" : {
      "tagWhitelist" : [ "reagent" ]
    },
    "foodBag" : {
      "categoryWhitelist" : [ "cookingIngredient", "preparedFood", "food", "drink", "seed", "foodJunk" ]
    },
    "autoAddToCustomBar" : {
      "typeWhitelist" : [ "liquid", "material", "object", "miningtool", "flashlight", "harvestingtool", "tillingtool", "consumable", "blueprint", "codex", "instrument", "thrownitem", "unlockitem", "activeitem" ],
      "categoryBlacklist" : [ "food" ]
    }
  }
}
